.discount
  .container
    p.discount__title.title Atenção!!!
    .discount__image 
      img.lazy(src=require("../../../images/placeholder.png"), data-src=require("../../../images/fire.png"), alt="sale")
    .discount__timer.timer
      p.timer__text ATÉ 31 DE JULHO, GANHE DESCONTO PROMOCIONAL DE 10% EM TODOS OS NOSSOS SERVIÇOS      
      p.timer__time 21:13:33
      a.timer__title(href="#ask") 
        p.timer__link Clique para o primeiro passo!   
        p A concorrência já está online e você?