.discount
  .container
    p.discount__title.title Atención!!!
    .discount__image 
      img.lazy(src=require("../../../images/placeholder.jpg"), data-src=require("../../../images/fire.png"), alt="sale")
    .discount__timer.timer
      p.timer__text HASTA EL 31 DE MAYO, OBTÉN UN 10% DE DESCUENTO PROMOCIONAL EN TODOS NUESTROS SERVICIOS
      p.timer__time 21:13:33
      a.timer__title(href="#ask") 
        p.timer__link ¡Haz clic para el primer paso!   
        p La competencia ya está en línea y tú?