.discount
  .container
    p.discount__title.title Atenção!!!
    .discount__image 
      img(src=require("../../../images/fire.png"), alt="sale")
    .discount__timer.timer
      p.timer__text ATÉ 31 DE MAIO MAIO, GANHE DESCONTO PROMOCIONAL DE 10% EM TODOS OS NOSSOS SERVIÇOS
      
      p.timer__time 21:13:33
      a.timer__title(href="#ask") 
        p &#x2B9E;  Clique para o primeiro passo! A concorrência já está online e você?  &#x2B9C;