.discount
  .container
    p(data-aos="fade-in" data-aos-duration="1800").discount__title.title Atención!!!
    div(data-aos="fade-in" data-aos-duration="1800" data-aos-delay="300").discount__image 
      img.lazy(src=require("../../../images/placeholder.png"), data-src=require("../../../images/fire.png"), alt="sale")
    .discount__timer.timer
      p(data-aos="fade-in" data-aos-duration="1800").timer__text HASTA EL 31 DE DICIEMBRE, OBTÉN UN 10% DE DESCUENTO PROMOCIONAL EN TODOS NUESTROS SERVICIOS
      p.timer__time 21:13:33
      a.timer__title(href="#ask") 
        p(data-aos="fade-in" data-aos-duration="1800").timer__link ¡Haz clic para el primer paso!   
        p(data-aos="fade-in" data-aos-duration="1800" data-aos-delay="400") La competencia ya está en línea, ¿y tú?