.discount
  .container
    p.discount__title.title Atenção!!!
    .discount__image 
      img(src=require("../../../images/fire.png"), alt="sale")
    .discount__timer.timer
      p.timer__text até o dia 31 de maio MAIO GANHE UM DESCONTO PROMOCIONAL de 20% para nossos serviços
      p.timer__time 21:13:32
      a.timer__title(href="#ask") 
        p &#11166;  Clique para o primeiro passo! A concorrência já está online e você?  &#11164;