.discount
  .container
    p.discount__title.title Attention!!!
    .discount__image 
      img.lazy(src=require("../../../images/placeholder.png"), data-src=require("../../../images/fire.png"), alt="sale")
    .discount__timer.timer
      p.timer__text UNTIL JULY 31, GET 10% PROMO DISCOUNT ON ALL OUR SERVICES    
      p.timer__time 21:13:33
      a.timer__title(href="#ask") 
        p.timer__link Click here for the first step!   
        p Your competitors are already online and you?