.discount
  .container
    p.discount__title.title Atenção!!!
    .discount__timer.timer
      p.timer__text até o dia 31 de maio lhe damos um desconto promocional 20% para nossos serviços
      p.timer__time 21:13:33