.discount
  .container
    p(data-aos="fade-in" data-aos-duration="1800").discount__title.title Attention!!!
    div(data-aos="fade-in" data-aos-duration="1800" data-aos-delay="300").discount__image 
      img.lazy(src=require("../../../images/placeholder.png"), data-src=require("../../../images/fire.png"), alt="sale")
    .discount__timer.timer
      p(data-aos="fade-in" data-aos-duration="1800").timer__text UNTIL DECEMBER 31, GET 10% PROMO DISCOUNT ON ALL OUR SERVICES    
      p.timer__time 21:13:33
      a.timer__title(href="#ask") 
        p(data-aos="fade-in" data-aos-duration="1800").timer__link Click here for the first step!   
        p(data-aos="fade-in" data-aos-duration="1800" data-aos-delay="400") Your competitors are already online and you?