.blogBox 
  .container
    .blogBox__content
      h2.blogBox__title.title Nossos posts
      .blogBox__row
        //- .blogBox__item
        //-   .blogBox__card
        //-     .blogBox__image
        //-     .blogBox__post 
        //-       .blogBox__date 11/03/2022
        //-       .blogBox__subtitle Por que investir na criação de sites profissionais?
        //-       .blogBox__text As redes sociais, atualmente, parecem dominar a internet. E devido a isso muitos podem até pensar: por que as empresas precisam de sites? Um perfil de empresa nas redes sociais não é suficiente? 
        //-       button.blogBox__button.btn Ler mais...
        //- .blogBox__item
        //-   .blogBox__card
        //-     .blogBox__image
        //-     .blogBox__post 
        //-       .blogBox__date 11/03/2022
        //-       .blogBox__subtitle Por que investir na criação de sites profissionais?
        //-       .blogBox__text As redes sociais, atualmente, parecem dominar a internet. E devido a isso muitos podem até pensar: por que as empresas precisam de sites? Um perfil de empresa nas redes sociais não é suficiente? 
        //-       button.blogBox__button.btn Ler mais...    

