.whatsappIcon 
  .whatsapp.animate__delay-10s.animate__animated.animate__pulse.animate__slow.animate__infinite(title="Fale conosco")
    a(href="https://wa.me/5521999365384")
      img(src=require("../../../images/icons/whatsapp.png"), alt="Fale conosco")