.blog 
  .container 
    .blog__box 
      .blog__post.post
        .post__title
          h2.title Titulo de post
        .post__image 
          img(src=require("../../../images/youtube-icon.svg"), alt="image__post")

        .post__text 
          p Lorem ipsum olo, sit ametdfdf consectetur adipisicing elit. Aspernatur accusantium mollitia officiis aperiam excepturi. Accusamus minima animi magni aperiam error est aut dolore, quia delectus esse voluptate itaque repudiandae voluptas? Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium, voluptate quas soluta cupiditate excepturi earum nobis maxime delectus doloremque itaque! Fugiat corporis libero quasi blanditiis magnam totam accusantium quisquam labore! Lorem ipsum dolor sit amet consectetur adipisicing eli. Quasi odio, nesciunt quae rerum incidunt quis quo aperiam nemo eum vitae enim fugit recusandae. Voluptatem, ipsa sit itaque provident magni doloribus.
      .blog__post.post
        .post__image 
          img(src="", alt="image__post")
        .post__title 
          h2.title Titulo de post
        .post__text 
          p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Aspernatur accusantium mollitia officiis aperiam excepturi. Accusamus minima animi magni aperiam error est aut dolore, quia delectus esse voluptate itaque repudiandae voluptas? Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium, voluptate quas soluta cupiditate excepturi earum nobis maxime delectus doloremque itaque! Fugiat corporis libero quasi blanditiis magnam totam accusantium quisquam labore! Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi odio, nesciunt quae rerum incidunt quis quo aperiam nemo eum vitae enim fugit recusandae. Voluptatem, ipsa sit itaque provident magni doloribus.
        
