@import "../../styles/variables";

.blog {
  background-color: $colorBlack;
  border-bottom: 2px solid white;
  
  text-align: center;
 
  &__box {
    padding: 210px 0 10px;
  }
  &__btn {
    margin: 0 auto 50px;
    display: block;
  }
}

.post {

  border-top: 3px solid white;

  &__title {
    .title {
      margin-top: 40px;
    }
  }

  &__container {
    margin: 40px 0 0;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }

  &__indice {
    flex: 0 1 50%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 15px;
  }

  &__image {
    flex: 0 1 50%;
    max-width: 580px;
    margin: 0 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
    img {
      width: 100%;
      height: auto;
      border-radius: 15px;
      overflow: hidden;
      background-color: rgba(128, 128, 128, 0.527);
      box-shadow: 0 0 5px white;
    }
  }

  &__text {
    max-width: 1250px;
    margin: 0 auto;
    text-align: left;
    
    font-size: 1.4em;
    line-height: 1.4em;
    padding: 10px 20px 30px;

    h2 {
      font-weight: 500;
      font-size: 1.25em;
      margin: 15px 0;
      line-height: 1.5em;
      letter-spacing: 0.06em;
      text-shadow: 0 0 1px White, 0 0 5px red; 
    }

    p {
      margin: 10px 0;
      text-indent: 50px;
    }

    a {
      text-decoration: underline;
      color: white;
      line-height: 40px;
    }

    #anchor1 {
      position: relative;
      #item1 {
        position: absolute;
        top: -270px;
      }
    }
    #anchor2 {
      position: relative;
      #item2 {
        position: absolute;
        top: -270px;
      }
    }
    #anchor3 {
      position: relative;
      #item3 {
        position: absolute;
        top: -270px;
      }
    }
    #anchor4 {
      position: relative;
      #item4 {
        position: absolute;
        top: -270px;
      }
    }
    #anchor5 {
      position: relative;
      #item5 {
        position: absolute;
        top: -270px;
      }
    }
    #anchorResumo {
      position: relative;
      #resumo {
        position: absolute;
        top: -270px;
      }
    }


    #anchor1_2 {
      position: relative;
      #item1_2 {
        position: absolute;
        top: -270px;
      }
    }
    #anchor2_2 {
      position: relative;
      #item2_2 {
        position: absolute;
        top: -270px;
      }
    }
    #anchor3_2 {
      position: relative;
      #item3_2 {
        position: absolute;
        top: -270px;
      }
    }
    #anchor4_2 {
      position: relative;
      #item4_2 {
        position: absolute;
        top: -270px;
      }
    }

    #anchorResumo2 {
      position: relative;
      #resumo2 {
        position: absolute;
        top: -270px;
      }
    }





    #ul {
      margin: 30px 0;
    }
    #ul li {
      list-style: circle;
      list-style-position: inside;
    }
  }
}

@media (max-width: 1160px) {
  .blog {
    // background-color: $colorBlack;
    // background-image: url("../../images/fundo_leve.jpg");
    // background-position: center;
    // background-size: cover;
    // background-repeat: repeat-x;
    border-bottom: 1px solid white;
    // text-align: center;
   
    &__box {
      padding: 200px 0 10px;
    }
    // &__btn {
    //   margin: 0 auto 50px;
    //   display: block;
    // }
  }
  
  .post {
    &__title {
      .title {
        // margin-top: 0;
        font-size: 25px;
        line-height: 1.2em;
      }
    }
  
    &__container {
      // margin: 40px 0 0;
      // display: flex;
      // justify-content: center;
      // flex-wrap: wrap;
    }
  
    &__indice {
      
      flex: 0 1 100%;
      // margin: 0 auto;
      // display: flex;
      // flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 0 0;
     
    }
  
    &__image {
 
      flex: 0 1 90%;
      // max-width: 580px;
      // margin: 0 15px;
      // display: flex;
      // flex-direction: column;
      // justify-content: center;
      align-items: center;
      
      img {
        // width: 100%;
        // height: auto;
        // border-radius: 15px;
        // overflow: hidden;
        // background-color: rgba(128, 128, 128, 0.527);
        // box-shadow: 0 0 5px white;
      }
    }
  
    &__text {
      
      // max-width: 1250px;
      // margin: 0 auto;
      // text-align: justify;
      // text-indent: 0;
      font-size: 1.3em;
      line-height: 1.2em;
      padding: 0px 20px 5px;
  
      h2 {
        // font-weight: 700;
        // font-size: 1.25em;
        // margin: 15px 0;
        line-height: 1.25em;
        // letter-spacing: 0.06em;
        // text-shadow: 0 0 1px White, 0 0 5px red; 
      }
  
      // p {
        
      //   text-indent: 50px;
      // }
  
      // a {
      //   text-decoration: underline;
      //   color: white;
      //   line-height: 40px;
      // }
  
      // #anchor1 {
      //   position: relative;
      //   #item1 {
      //     position: absolute;
      //     top: -270px;
      //   }
      // }
      // #anchor2 {
      //   position: relative;
      //   #item2 {
      //     position: absolute;
      //     top: -270px;
      //   }
      // }
      // #anchor3 {
      //   position: relative;
      //   #item3 {
      //     position: absolute;
      //     top: -270px;
      //   }
      // }
      // #anchor4 {
      //   position: relative;
      //   #item4 {
      //     position: absolute;
      //     top: -270px;
      //   }
      // }
      // #anchor5 {
      //   position: relative;
      //   #item5 {
      //     position: absolute;
      //     top: -270px;
      //   }
      // }
      // #anchorResumo {
      //   position: relative;
      //   #resumo {
      //     position: absolute;
      //     top: -270px;
      //   }
      // }
      // #ul {
      //   margin: 30px 0;
      // }
      // #ul li {
      //   list-style: circle;
      //   list-style-position: inside;
      // }
    }
  }
  
}

@media (max-width: 700px) {
  .blog {
    // background-color: $colorBlack;
    // background-image: url("../../images/fundo_leve.jpg");
    // background-position: center;
    // background-size: cover;
    // background-repeat: repeat-x;
    // border-bottom: 1px solid white;
    // text-align: center;
   
    &__box {
      padding: 170px 0 10px;
    }
    // &__btn {
    //   margin: 0 auto 50px;
    //   display: block;
    // }
  }
  
  .post {
    &__title {
      .title {
        // margin-top: 0;
        font-size: 20px;
      }
    }
  
    // &__container {
    //   // margin: 40px 0 0;
    //   // display: flex;
    //   // justify-content: center;
    //   // flex-wrap: wrap;
    // }
  
    // &__indice {
    //   flex: 0 1 100%;
    //   // margin: 0 auto;
    //   // display: flex;
    //   // flex-direction: column;
    //   justify-content: center;
    //   align-items: center;
    //   padding: 0 0;
    // }
  
    // &__image {
    //   flex: 0 1 90%;
    //   // max-width: 580px;
    //   // margin: 0 15px;
    //   // display: flex;
    //   // flex-direction: column;
    //   // justify-content: center;
    //   align-items: center;
      
    //   img {
    //     // width: 100%;
    //     // height: auto;
    //     // border-radius: 15px;
    //     // overflow: hidden;
    //     // background-color: rgba(128, 128, 128, 0.527);
    //     // box-shadow: 0 0 5px white;
    //   }
    // }
  
    // &__text {
      
    //   // max-width: 1250px;
    //   // margin: 0 auto;
    //   // text-align: justify;
    //   // text-indent: 50px;
    //   font-size: 1.3em;
    //   line-height: 1.2em;
    //   padding: 0px 20px 5px;
  
    //   h2 {
    //     // font-weight: 700;
    //     // font-size: 1.25em;
    //     // margin: 15px 0;
    //     line-height: 1.25em;
    //     // letter-spacing: 0.06em;
    //     // text-shadow: 0 0 1px White, 0 0 5px red; 
    //   }
  
    //   // p {
    //   //   margin: 10px 0;
    //   // }
  
    //   // a {
    //   //   text-decoration: underline;
    //   //   color: white;
    //   //   line-height: 40px;
    //   // }
  
    //   // #anchor1 {
    //   //   position: relative;
    //   //   #item1 {
    //   //     position: absolute;
    //   //     top: -270px;
    //   //   }
    //   // }
    //   // #anchor2 {
    //   //   position: relative;
    //   //   #item2 {
    //   //     position: absolute;
    //   //     top: -270px;
    //   //   }
    //   // }
    //   // #anchor3 {
    //   //   position: relative;
    //   //   #item3 {
    //   //     position: absolute;
    //   //     top: -270px;
    //   //   }
    //   // }
    //   // #anchor4 {
    //   //   position: relative;
    //   //   #item4 {
    //   //     position: absolute;
    //   //     top: -270px;
    //   //   }
    //   // }
    //   // #anchor5 {
    //   //   position: relative;
    //   //   #item5 {
    //   //     position: absolute;
    //   //     top: -270px;
    //   //   }
    //   // }
    //   // #anchorResumo {
    //   //   position: relative;
    //   //   #resumo {
    //   //     position: absolute;
    //   //     top: -270px;
    //   //   }
    //   // }
    //   // #ul {
    //   //   margin: 30px 0;
    //   // }
    //   // #ul li {
    //   //   list-style: circle;
    //   //   list-style-position: inside;
    //   // }
    // }
  }
  
}

@media (max-width: 550px) {
  .blog {
    // background-color: $colorBlack;
    // background-image: url("../../images/fundo_leve.jpg");
    // background-position: center;
    // background-size: cover;
    // background-repeat: repeat-x;
    // border-bottom: 1px solid white;
    // text-align: center;
   
    // &__box {
    //   padding: 170px 0 10px;
    // }
    &__btn {
      margin: 0 auto 20px;
      // display: block;
    }
  }
  
  .post {
    &__title {
      .title {
        // margin-top: 0;
        font-size: 20px;
      }
    }
  
    &__container {
      margin: 30px 0 0;
      // display: flex;
      // justify-content: center;
      // flex-wrap: wrap;
    }
  
    // &__indice {
    //   flex: 0 1 100%;
    //   // margin: 0 auto;
    //   // display: flex;
    //   // flex-direction: column;
    //   justify-content: center;
    //   align-items: center;
    //   padding: 0 0;
    // }
  
    // &__image {
    //   flex: 0 1 90%;
    //   // max-width: 580px;
    //   // margin: 0 15px;
    //   // display: flex;
    //   // flex-direction: column;
    //   // justify-content: center;
    //   align-items: center;
      
    //   img {
    //     // width: 100%;
    //     // height: auto;
    //     // border-radius: 15px;
    //     // overflow: hidden;
    //     // background-color: rgba(128, 128, 128, 0.527);
    //     // box-shadow: 0 0 5px white;
    //   }
    // }
  
    &__text {
      
      max-width: 100%;
    //   // margin: 0 auto;
    //   // text-align: justify;
    //   // text-indent: 50px;
      font-size: 1.2em;
    //   line-height: 1.2em;
    //   padding: 0px 20px 5px;
  
      h2 {
        font-weight: 500;
        // font-size: 1.25em;
        // margin: 15px 0;
        // line-height: 1.25em;
        // letter-spacing: 0.06em;
        // text-shadow: 0 0 1px White, 0 0 5px red; 
      }
  
    //   // p {
    //   //   margin: 10px 0;
    //   // }
  
      a {
        // text-decoration: underline;
        // color: white;
        line-height: 35px;

      }
  
    //   // #anchor1 {
    //   //   position: relative;
    //   //   #item1 {
    //   //     position: absolute;
    //   //     top: -270px;
    //   //   }
    //   // }
    //   // #anchor2 {
    //   //   position: relative;
    //   //   #item2 {
    //   //     position: absolute;
    //   //     top: -270px;
    //   //   }
    //   // }
    //   // #anchor3 {
    //   //   position: relative;
    //   //   #item3 {
    //   //     position: absolute;
    //   //     top: -270px;
    //   //   }
    //   // }
    //   // #anchor4 {
    //   //   position: relative;
    //   //   #item4 {
    //   //     position: absolute;
    //   //     top: -270px;
    //   //   }
    //   // }
    //   // #anchor5 {
    //   //   position: relative;
    //   //   #item5 {
    //   //     position: absolute;
    //   //     top: -270px;
    //   //   }
    //   // }
    //   // #anchorResumo {
    //   //   position: relative;
    //   //   #resumo {
    //   //     position: absolute;
    //   //     top: -270px;
    //   //   }
    //   // }
    //   // #ul {
    //   //   margin: 30px 0;
    //   // }
    //   // #ul li {
    //   //   list-style: circle;
    //   //   list-style-position: inside;
    //   // }
    }
  }
  
}
