.ask#ask
  .container
    p.ask__title.title SOLICITE UMA CONVERSA SEM COMPROMISSo:
    .ask__box  
      form.ask__form.form(action="#")
        .form__label
          label(for="name") Seu nome
        .form__input 
          input(type="text" placeholder="nome" name="name")
        .form__label
          label(for="name") Seu telefone
        .form__input
          input(type="phone" placeholder="telefone" name="phone")
        .form__label
          label(for="name") Seu email
        .form__input
          input(type="email" placeholder="email" name="email")
        button.form__btn(type="submit") Solicitar!  
      .ask__image
        img(src=require("../../../images/student_asking_question.svg"), alt="ask")