.ask#ask
  .container
    p(data-aos="fade-in" data-aos-duration="1800").ask__title.title START A CONVERSATION RIGHT NOW:
    div(data-aos="fade-in" data-aos-duration="1800" data-aos-delay="500").ask__box
      .ask__image
        img(src=require("../../../images/student_asking_question.svg"), alt="ask") 
      form.ask__form.form(action="https://formsubmit.co/contato@eformaliza.com" method="POST")
        .form__label
          label(for="name") Your name
        .form__input 
          input(type="text" minlength="3" placeholder="name" name="name" required)
        .form__label
          label(for="name") You phone
        .form__input
          input(type="number" minlength="7" placeholder="phone" name="phone" required)
        .form__label
          label(for="email") Your email
        .form__input
          input(type="email" placeholder="email" name="email" required)
        input(type="hidden" name="_subject" value="Legal!!!!! Um novo e-mail de eformaliza.com!!!!")
        input(type="hidden" name="_next" value="https://eformaliza.com/emailSentEng.html")
        input(type="hidden" name="_template" value="table")
        input(type="hidden" name="_captcha" value="false")
        button.form__btn.btn(type="submit") Ask!  
        

