.portfolio
  .container
    .portfolio__title.title Nossos projetos
    //Slider main container
    .swiper
      //Additional required wrapper
      .swiper-wrapper
        //Slides
        .swiper-slide
        .swiper-slide
        .swiper-slide
        .swiper-slide
      //pagination
      .swiper-pagination
    //navigation buttons
  .swiper-button-prev
  .swiper-button-next