@import "variables";

body {
  background-color: $colorSecondary;
}

body.lock {
  overflow: hidden;
}

.container {
  max-width: 1300px;
  margin: 0 auto;
  padding: 0 20px;
}

.title {
  background-color: $colorSecondary;
  border-radius: 10px;
  margin: 20px auto;
  text-transform: uppercase;
  width: fit-content;
  padding: 7px 30px;
  color: white;
  text-shadow: 0 0 5px red;
  font-family: $font-family-title, sans-serif;
  font-weight: 700;
  letter-spacing: 0.07em;
  font-size: 2em;
  border: 1px solid rgb(129, 7, 7);
  box-shadow: 0 0 5px rgb(129, 7, 7);
}

// to rename for generic, to add btn, correct title