header.blogHeader
  .container
    a(href="./index.html")   
      img.blogHeader__logo.logo(src=require("../../../images/logo_principal.svg"), alt="eformaliza")
    .blogHeader__nav
      .blogHeader__title e-Formaliza Blog