.langToggle 
  .container 
    .langToggle__row 
      .langToggle__item 
        button.langToggle__btn Pt
      .langToggle__item 
        button.langToggle__btn En
      .langToggle__item 
        button.langToggle__btn.active Es