.home
  .container 
    .home__box
      .home__greetings 
        p Pensaste en sitios WEB?
        p Pensaste e-Formaliza
      .home__row       
        .home__column
          iframe.home__video(width="853" height="480" src="https://www.youtube.com/embed/p5FUE9UvYbs" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen)
        .home__column
          p.home__title Creamos sitios WEB modernos
          ul.home__list
            li Creamos sitios WEB profesionales
            li Preparamos diseño exclusivo
            li 03 meses de garantía 
            li Evaluación individual gratuita
          
