.home#pt
  .container 
    .home__box
      .home__greetings 
        p(data-aos="fade-in" data-aos-duration="1800") Pensou em sites?
        p(data-aos="fade-in" data-aos-delay="1800" data-aos-duration="1800") Pensou e-Formaliza
      .home__row       
        .home__column
          .home__video.hovered
            .home__play 
              img(src=require("../../../images/youtube-icon.svg"), alt="play")
        .home__column
          p.home__title Criamos sites modernos
          ul.home__list
            li Criamos sites profissionais 
            li Preparamos design exclusivo
            li Garantia de 03 meses
            li Avaliação individual gratuita
          
