.home#home
  .container 
    .home__box
      .home__greetings.title  
        p Pensou em sites ? Pensou e-Formaliza 
      .home__row 
        .home__column
          p.home__title Criamos sites modernos
          ul.home__list
            li Criamos sites profissionais 
            li Preparamos design exclusivo
            li Garantia de 03 meses
            li Avaliação individual gratuita
        .home__column
          iframe.home__video(width="840" height="480" src="https://www.youtube.com/embed/9LySJWfskT4" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen)
