.home#en
  .container 
    .home__box
      .home__greetings 
        p.animate__animated.animate__bounce Think about websites.
        p.animate__animated.animate__flipInX.animate__delay-1s Think e-Formaliza
      .home__row       
        .animate__animated.animate__fadeInRight.animate__delay-1s.animate__slow.home__column
          .home__video.hovered
            .home__play 
              img(src=require("../../../images/youtube-icon.svg"), alt="play")
        .animate__animated.animate__fadeInLeft.animate__delay-1s.animate__slow.home__column
          p.home__title We create modern websites
          ul.home__list
            li Exclusive design preparation
            li Modern website creation
            li 3-months warranty
            li Free individual evaluation
          
