.home#es
  .container 
    .home__box
      .home__greetings 
        p Pensaste en sitios WEB?
        p Pensaste e-Formaliza
      .home__row       
        .home__column
          .home__video.hovered
            .home__play 
              img(src=require("../../../images/youtube-icon.svg"), alt="play")
        .home__column
          p.home__title Creamos sitios WEB modernos
          ul.home__list
            li Creamos sitios WEB profesionales
            li Preparamos diseño exclusivo
            li 03 meses de garantía 
            li Evaluación individual gratuita
          
