.home#es
  .container 
    .home__box
      .home__greetings 
        p.animate__animated.animate__bounce Pensaste en sitios WEB?
        p.animate__animated.animate__flipInX.animate__delay-1s Pensaste e-Formaliza
      .home__row       
        .animate__animated.animate__fadeInRight.animate__delay-1s.animate__slow.home__column
          .home__video.hovered
            .home__play 
              img(src=require("../../../images/youtube-icon.svg"), alt="play")
        .animate__animated.animate__fadeInLeft.animate__delay-1s.animate__slow.home__column
          p.home__title Creamos sitios WEB modernos
          ul.home__list
            li Creamos sitios WEB profesionales
            li Preparamos diseño exclusivo
            li 03 meses de garantía 
            li Evaluación individual gratuita
          
