.home#pt
  .container 
    .home__box
      .home__greetings 
        p.animate__animated.animate__bounce Pensou em sites?
        p.animate__animated.animate__flipInX.animate__delay-1s Pensou e-Formaliza
      .home__row       
        .animate__animated.animate__fadeInRight.animate__delay-1s.animate__slow.home__column
          .home__video.hovered
            .home__play 
              img(src=require("../../../images/youtube-icon.svg"), alt="criação de sites profissionais", title="criação de sites profissionais")
        .animate__animated.animate__fadeInLeft.animate__delay-1s.animate__slow.home__column
          p.home__title Criamos sites modernos
          ul.home__list
            li Criamos sites profissionais 
            li Preparamos design exclusivo
            li Garantia de 03 meses
            li Avaliação individual gratuita
          
