.home#en
  .container 
    .home__box
      .home__greetings 
        p Think about websites.
        p Think e-Formaliza
      .home__row       
        .home__column
          .home__video.hovered
            .home__play 
              img(src=require("../../../images/youtube-icon.svg"), alt="play")
        .home__column
          p.home__title We create modern websites
          ul.home__list
            li Exclusive design preparation
            li Modern website creation
            li 3-months warranty
            li Free individual evaluation
          
