.home
  .container 
    .home__box
      .home__greetings 
        p Think about websites 
        p Think e-Formaliza
      .home__row       
        .home__column
          iframe.home__video(width="853" height="480" src="https://www.youtube.com/embed/p5FUE9UvYbs" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen)
        .home__column
          p.home__title We create modern websites
          ul.home__list
            li Exclusive design preparation
            li Modern websites creation
            li 03 months warranty
            li Free individual evaluation
          
