.goal
  .container
    .goal__wrapper
      .goal__image
        img.lazy(src=require("../../../images/placeholder.jpg"), data-src=require("../../../images/laptop.png"), alt="why") 
      .goal__box
        .goal__content
          p.goal__question WHY IS IT SO IMPORTANT TO HAVE A WEBSITE?
          p.goal__answer A website is the best online showcase for your business
        .goal__content
          p.goal__question WHY YOU SHOULD BET ON US?
          p.goal__answer e-Formaliza designs and creates websites based on proven technologies. Developing websites by e-Formaliza is the guarantee of a quality work
      


    
    