.goal
  .container
    .goal__wrapper
      .goal__image
        img.lazy(src=require("../../../images/placeholder.png"), data-src=require("../../../images/laptop.jpg"), alt="why") 
      .goal__box
        .goal__content
          p.goal__question ¿POR QUÉ ES TAN IMPORTANTE TENER UN SITIO WEB?
          p.goal__answer Un sitio WEB es el mejor escaparate para su negocio en línea
        .goal__content
          p.goal__question ¿POR QUÉ DEBES APOSTAR CON NOSOTROS?
          p.goal__answer e-Formaliza diseña y crea sitios WEB basados ​​en tecnologías probadas. Desarrollar sitios web con e-Formaliza es garantía de un trabajo de calidad