@import "../../styles/variables";

.goal {
  background-color: $colorBlack;
  color: white;
  font-family: $font-family-title;
  font-size: 2em;
  // text-shadow: 0 0 5px red;
  font-family: $font-family-title, sans-serif;
  font-weight: 700;
  // letter-spacing: 0.07em;
  text-transform: uppercase;

  &__wrapper {
    height: 100vh;
    display: flex;
  }

  &__image {
    flex: 0 1 50%;
    padding: 20px;
    display: flex;
    align-items: center;

    img {
      width: 100%;
      border-radius: 10px;
      // border: 1px solid rgb(129, 7, 7);
      // box-shadow: 0 0 10px rgb(129, 7, 7);
    }
  }

  &__box {
    flex: 0 1 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    padding: 20px;
  }

  &__content {
    padding: 20px;
    border-radius: 15px;
    // border: 1px solid rgb(129, 7, 7);
    // box-shadow: 0 0 5px rgb(129, 7, 7);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    // background-color: $colorBlack;
    margin-bottom: 20px;
    // font-size: 0.8em;
    line-height: 1.5em;
  }

  &__question {
    text-align: left;
  }

  &__answer {
    text-align: left;
    text-transform: none;
    text-align: left;
    text-shadow: none;
    font-weight: 400;
    // letter-spacing: 0.05em;
    width: 90%;
    margin: 20px 0 0 auto;
    font-size: 0.85em;
   
  }
}
