.goal
  .container
    .goal__wrapper
      .goal__image
        img.lazy(src=require("../../../images/placeholder.jpg"), data-src=require("../../../images/laptop.png"), alt="why")  
      .goal__box
        .goal__content
          p.goal__question POR QUE É TÃO IMPORTANTE TER UM SITE ?
          p.goal__answer Um site é a melhor vitrine para seu negócio online
        .goal__content
          p.goal__question POR QUE VOCÊ DEVE APOSTAR EM NÓS ?
          p.goal__answer Na e-Formaliza, projetamos e criamos sites baseados em tecnologias comprovadas.  Desenvolver sites na e-Formaliza é a garantia de um trabalho com qualidade
      


    
    