@import "../../styles/variables";

.header {
  transition: all 0.8s linear 0.05s;
  display: block;
  position: fixed;
  width: 100%;
  text-align: center;
  z-index: 300;
 

  img.logo {
   
    transition: all 0.8s linear 0.05s;
    float: left;
    display: block;
    height: 180px;
    padding: 0 0 15px;
    z-index: 151;
    position: relative;
   
    
  }
  img.header__logo_scroll {
    display: none;
    
  }

  &__nav {
    z-index: 150;
    margin: auto;
    transform: translateY(70px);
    transition: all 0.8s linear 0.05s;
    font-size: 1.4em;
    line-height: 0.7em;
    font-family: $font-family-subtitle, sans-serif;
  }

  &__nav::before {
    content: "";
    color: #fff;
    display: block;
    background-image: url("/images/logo_without_letters_red_black.svg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100px;
    top: -10px;
    height: 60px;
    position: absolute;
    opacity: 0;
    transition: all 0.8s linear 0.05s;
  }

  &__list {
    display: flex;
    justify-content: space-evenly;
  }

  &__item {
    flex: 0 0 12%;
    padding: 3px;
    transition: all 0.3s linear 0.1s;
    text-transform: uppercase;
    display: block;
    color: white;
    letter-spacing: 0.05em;
    padding: 5px;

  }

  &__item:hover {
    transform: scale(1.2);
    text-shadow: 0 0 2px white;
    transition: all 0.3s linear 0.1s;
    border-top: 1px solid white;
    border-bottom: 1px solid white;
  }

  &__nav_burger {
    display: none;
    width: 35px;
    height: 35px;
    position: absolute;
    transition: all 0.8s linear 0.05s;
    top: 20px;
    right: 6%;

    .burger__inner {
      background-color: white;
      height: 4px;
      width: 70%;
      margin: 50% 0 50% auto;
      transform: translateY(-50%);
      box-shadow: 0 0 2px white, 0 0 3px red;
      transition: all 0.8s linear 0.05s;
    }
  }

  &__nav_burger::before,
  &__nav_burger::after {
    content: "";
    display: block;
    height: 4px;
    width: 100%;
    background-color: white;
    position: absolute;
    box-shadow: 0 0 2px white, 0 0 3px red;
  }

  &__nav_burger::before {
    top: 0;
    transition: all 0.8s linear 0.05s;
  }

  &__nav_burger::after {
    transition: all 0.8s linear 0.05s;
    bottom: 0;
    right: 0;
    width: 30%;
    
  }
}

.scroll.header {
  background-color: rgba(53, 53, 53, 0.95);
  transition: all 0.8s linear 0.05s;
  position: fixed;
  width: 100%;
  z-index: 300;

  img.logo.scroll {
    transition: all 0.8s linear 0.05s;
    height: 60px;
    padding: 0 0 7px;
    opacity: 0;
  }

  &__nav {
    transition: all 0.8s linear 0.05s;
    transform: translateY(18px);
  }

  &__nav::before {
    opacity: 1;
    transition: all 0.8s linear 0.05s;
  }
}





 @media (max-width: 1160px) {
  .header {
    img.logo {
      height: 140px;
    }

    &__nav {
      transform: translateY(45px);
      font-size: 1.3em;
    }

    &__item {
      a {
        padding: 3px;
      }
    }
  }
}

@media (max-width: 950px) {
  .header {
    img.logo {
      height: 120px;
    }

    &__nav {
      transform: translateY(45px);
      font-size: 1.15em;
    }
  }
}





@media (max-width: 700px) {
  .header {
    img.logo {
      height: 90px;
      opacity: 1;
      
    }

    &__nav_burger {
      display: block;
      overflow: auto;
      
      
    }

    &__nav_burger.dropped {
      
     
      transition: all 0.8s linear 0.05s;

      .burger__inner {
        transform: scale(0);
        transition: all 0.8s linear 0.05s;
      }
    }

    &__nav_burger.dropped::before {
      transform: translate(0, 14.5px) rotate(45deg);
      transition: all 0.8s linear 0.05s;
  
    }

    &__nav_burger.dropped::after {
      transform: translate(0, -16px) rotate(-45deg);
      width: 100%;
      transition: all 0.8s linear 0.05s;
    
    }

    &__nav {
      position: absolute;
      display: block;
      top: 55px;
      display: none;
      overflow: auto;
      
    }
    &__item:hover {
      transform: none;
      text-shadow: none;
      transition: all 0.3s linear 0.1s;
      border-top: none;
      border-bottom: none;
    }


    &__list {
      display: block;
      background-color: $colorBlack;
      padding-bottom: 15px;
      overflow: auto;
      
    }

    &__item {
      background: none;
      border-radius: none;
      text-align: center;
      margin: 0;
      padding: 0;

      a {
        color: #fff;
        border: none;
        padding: 20px;
      }
    }
    &__item:hover {
      box-shadow: none;
    }
  }

  .scroll.header {
    height: 72px;

    &__nav {
      width: 100%;
      font-size: 1.5em;
      line-height: 2em;
      
    }


    &__nav.dropped {
      left: 0;
      display: block;
    }

    &__nav.dropped::before {
      opacity: 0;
    }

    &__nav_burger {
      top: 20px;
      transition: all 0.8s linear 0.05s;
    }

    img.logo.scroll {
      height: 80px;
      opacity: 1;
      
    }
  }
}
