header.headerBlog
  .container
    a(href="./index.html")   
      img.headerBlog__logo.logo(src=require("../../../images/logo_principal.svg"), alt="eformaliza")
    .headerBlog__nav
      .headerBlog__title e-Formaliza Blog