@import "../../styles/variables";

.headerBlog {
 
  background-color: black;
  transition: all 0.8s linear 0.05s;
  display: block;
  position: fixed;
  width: 100%;
  text-align: center;
  z-index: 300;
  color: #fff;


  img.logo {
    transition: all 0.8s linear 0.05s;
    float: left;
    display: block;
    height: 150px;
    padding: 10px 10px 0 20px;
    z-index: 500;
    position: relative;
     
  }
  img.headerBlog__logo_scroll {
    display: none;
    
  }

  &__title {
    text-align: center;
    transition: all 0.8s linear 0.05s;
    font-size: 50px;
    font-weight: 600;
    letter-spacing: 0.1em;
    position: relative;
    left: -50px;
  }

  &__nav {
    z-index: 150;
    transform: translateY(70px);
    transition: all 0.8s linear 0.05s;
    font-size: 1.2em;
    line-height: 0.7em;
    font-family: $font-family-subtitle, sans-serif;
    position: relative;
  }

  &__nav::before {
    content: "";
    color: #fff;
    display: block;
    background-image: url("/images/logo_without_letters_red_black.svg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100px;
    top: -10px;
    height: 60px;
    position: absolute;
    opacity: 0;
    transition: all 0.8s linear 0.05s;
  }

}

.scroll.headerBlog {
  background-color: rgba(0, 0, 0, 0.612);
  transition: all 0.8s linear 0.05s;
  position: fixed;
  width: 100%;
  z-index: 300;

  img.logo.scroll {
    transition: all 0.8s linear 0.05s;
    height: 60px;
    padding: 0 0 7px;
    opacity: 0;
  }

  &__nav {
    transition: all 0.8s linear 0.05s;
    transform: translateY(18px); 
  }

  &__title {
    padding-top: 5px;
    font-size: 35px;
    transition: all 0.8s linear 0.05s;
  }

  &__nav::before {
    opacity: 1;
    transition: all 0.8s linear 0.05s;
  }
}

 @media (max-width: 1160px) {
  .headerBlog {
    img.logo {
      height: 140px;
      
    }
   
  }
}

@media (max-width: 950px) {
  .headerBlog {
    img.logo {
      height: 120px;
    }

    &__nav {
      transform: translateY(55px);
    }

    &__title {
      font-size: 40px;
    }
  }
  .scroll.headerBlog {
  
    &__nav {
      transform: translateY(18px); 
    }
  
    &__title {
      padding-top: 5px;
      font-size: 25px;
    }
  }
}

@media (max-width: 700px) {
  .headerBlog {
    
    img.logo {  
      height: 100px;
      padding-bottom: 0;
      padding-top: 0;
    }

    &__nav {
      transform: translateY(50px);
    }

    &__title {
      font-size: 30px;
    }
  }
}

@media (max-width: 555px) {
  .headerBlog {
    text-align: center;
    transition: none;

    img.logo {
     
      float: none;
      padding: 0 0 0 0;
      height: 90px;
      transition: none;
      position: relative;
      left: 50%;
      transform: translateX(-50%);
      transition: all 0.8s linear 0.05s;
    }

    &__nav {
      transform: translateY(0);
      transition: all 0.8s linear 0.05s;
      text-align: center;
      padding: 15px 0;
      transition: none;
    }
    &__nav::before {
      transition: none;
    }

    &__title {
      transition: all 0.8s linear 0.05s;
      font-size: 20px;
      position: static;
      transition: none;
    }
  }

  .scroll.headerBlog {
    height: 55px;
    text-align: center;
    transition: none;
    
    &__nav {
      transition: none;
      padding: 0 0 0 0;
      transform: translateY(0);
    }

    &__nav::before {
      transform: translateY(0);
      margin: 0 auto;
      opacity: 1;
      transition: all 0.8s linear 0.05s;
      padding: 0 0 0 0;
      position: static;  
    }

    &__title {
      display: none;
      transition: none;
    }
    
    img.logo.scroll { 
      transition: none;
      display: none;
      animation-name: none;
    }
  }
}