header.headerBlog
  .container
    a(href="./index.html")   
      img.headerBlog__logo.logo(src=require("../../../images/logo_principal.svg"), alt="eformaliza")
    .headerBlog__nav
      .headerBlog__title Nosso Blog
  //-     .header__list
  //-       a.header__item(href="#home" id="toHome") Home
  //-       a.header__item(href="#creation" id="toCreation") Criamos      
  //-       a.header__item(href="#promotion" id="toPromotion") Promovemos
  //-       a.header__item(href="blog.html") Blog
  //-       a.header__item(href="index.html") FAQ
  //-       a.header__item(href="#contacts" id="toContacts") Contatos
  //- nav.header__nav_burger
  //-   .burger__inner  