.promotion#promotion
  .container
    .promotion__title.title Promovemos
    .promotion__row  
      .promotion__item.item
        .item__img
          img(src=require("../../../images/icons/facebook-red.svg"), alt="facebook")
        .item__description Gerenciamento Facebook
      .promotion__item.item
        .item__img
          img(src=require("../../../images/icons/instagram-red.svg"), alt="instagram")
        .item__description Gerenciamento Instagram
      .promotion__item.item 
        .item__img
          img(src=require("../../../images/icons/google-business-red.svg"), alt="google-business")
        .item__description Cadastro no Google    
    .promotion__box 
      p.promotion__text Lorem ipsum dolor sit, amet consectetur adipisicing elit. Vitae rem, architecto cum reprehenderit enim possimus facilis libero error dolore ducimus nisi itaque ab natus quae eius nihil praesentium obcaecati id.
      p.promotion__text Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus ipsum hic at et ratione veritatis amet quidem delectus magni quam, incidunt alias unde ut quod magnam consequuntur cum illo non?
      p.promotion__text Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus ut perferendis earum vel quam fugiat accusamus voluptatibus atque, veritatis non, facilis voluptates quisquam harum modi vitae cumque reprehenderit rem aperiam!
    a.promotion__btn.btn(href="#ask") Saiba mais!  
      

    
    