.promotion#promotion
  .container
    .promotion__title.title Promovemos
    .promotion__row  
      .promotion__item.item
        .item__img
          img(src=require("../../../images/icons/instagram-red.svg"), alt="instagram")
        .item__description Gerenciamento Instagram
      .promotion__item.item 
        .item__img
          img(src=require("../../../images/icons/google-business-red.svg"), alt="google-business")
        .item__description Cadastro no Google    
    .promotion__box 
      p.promotion__text Aproveite o conhecimento da e-Formaliza ter o seu Instagram gerenciado por nossa empresa aumentará o reconhecimento de sua marca e economizará seu valioso tempo redirecionando-a para Gestão do seu Negócio.
      p.promotion__text O cartão de visitas no Google, além de muitas vantagens, aumentará a visibilidade de sua empresa na web, também é fonte adicional de visitas e permite integração com novos usuários e novos clientes, através de comentários e avaliações. Não se preocupe com isso, deixe que a e-Formaliza faça este cadastro por você.
    a.promotion__btn.btn(href="#ask") Saiba mais!  
      

    
    