@import "../../styles/variables";

.promotion {
  background-image: url("../../images/fundo_leve1.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: repeat-x;
  padding: 50px 0 20px;

  &__row {
    margin: 40px 0 0;
    display: flex;
    justify-content: center; 
  }

  &__box {
    padding: 10px 30px;
    text-align: justify;
    
  }

  &__text {
    margin: 20px 0;
    color: white;
    font-family: $font-family-subtitle;
    font-size: 1.5em;
    text-indent: 50px;
    line-height: 1.4em;
  }

  &__btn {
    margin: 0 auto 40px;
    display: block;
  }
}

@media (max-width: 1030px) {

  .promotion {
    // background-image: url("../../images/fundo_leve1.jpg");
    // background-position: center;
    // background-size: cover;
    // background-repeat: repeat-x;
    padding: 60px 0 20px;
  
    &__row {
      margin: 40px 0 0;
      // display: flex;
      // justify-content: center; 
    }
  
    &__box {
      
      padding: 10px 15px;
      
    }
  
    &__text {
      // margin: 20px 0;
      // // color: white;
      // font-family: $font-family-subtitle;
      font-size: 1.2em;
      // text-indent: 50px;
      // line-height: 1.4em;
    }
  
    &__btn {
      margin: 0 auto 10px;
      // display: block;
    }
  }
}