doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no")
    meta(name="description" content="Creación y mantenimiento de sitios web, páginas web, páginas de promoción, tiendas online, comercio electrónico, e-commerce, diseño, codificación, promoción en redes sociales. Plataformas Tray, Tienda Integrada, WordPress" )
    meta(name="keywords" content="creación, sites, web, page, pagina, emprendedor, empresa, avogados, internet, frontend, layout")
    meta(property="og:type" content="website")
    meta(property="og:title" content="Creación de páginas web profesionales para su negocio") 
    meta(property="og:site_name" content="Pensaste en sitios WEB? Pensaste e-Formaliza") 
    meta(property="og:url" content="https://www.eformaliza.com/") 
    meta(property="og:description" content="Creación y mantenimiento de sitios web, páginas web, páginas de promoción, tiendas online, comercio electrónico, e-commerce, diseño, codificación, promoción en redes sociales. Plataformas Tray, Tienda Integrada, WordPress") 
    meta(property="og:image" content="https://i.postimg.cc/RCWvsSxt/logo-principal.jpg")
    script(defer src="https://polyfill.io/v2/polyfill.min.js?features=IntersectionObserver")
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-63DZLREM66"></script>
    <script>window.dataLayer = window.dataLayer || [];function gtag(){dataLayer.push(arguments);}gtag('js', new Date());gtag('config', 'G-63DZLREM66');</script>
    title Creación de páginas web profesionales para su negocio
  body.preload#home(style="visibility: hidden;")
    include components/langToggle/langToggleEsp
    include components/header/headerEsp
    include components/home/homeEsp
    include components/goal/goalEsp
    include components/creation/creationEsp
    include components/portfolio/portfolioEsp
    include components/promotion/promotionEsp
    include components/offers/offersEsp
    include components/discount/discountEsp
    include components/ask/askEsp
    include components/footer/footerEsp
    include components/whatsappIcon/whatsappIcon
   
    