doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no")
    meta(name="description" content="Criacão e manutenção de Websites, páginas online, páginas de promoção, lojas online, e-commerce, desenho, codificação, promoção nas redes sociais. Plataformas Tray, Loja integrada, WordPress" )
    meta(name="keywords" content="criacão, loja, sites, web, page, pagina, emprendedor, empresa, advogados, guarulhos, osasco, salvador, goiania, joinville, curitiba, fortaleza, campinas, sp, porto alegre, df, brasilia, curitiba, bh, criacao")
    meta(property="og:type" content="website")
    meta(property="og:title" content="Criação de web sites profissionais para seu negócio") 
    meta(property="og:site_name" content="Pensou em sites? Pensou e-Formaliza") 
    meta(property="og:url" content="https://www.eformaliza.com/") 
    meta(property="og:description" content="Criacão e manutenção de Websites, páginas online, páginas de promoção, lojas online, e-commerce, desenho, codificação, promoção nas redes sociais. Plataformas Tray, Loja integrada, WordPress") 
    meta(property="og:image" content="https://i.postimg.cc/RCWvsSxt/logo-principal.jpg")
    script(defer src="https://polyfill.io/v2/polyfill.min.js?features=IntersectionObserver")
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-63DZLREM66"></script>
    <script async src="https://www.googletagmanager.com/gtag/js?id=AW-590042240"></script>
    <script>window.dataLayer = window.dataLayer || [];function gtag(){dataLayer.push(arguments);}gtag('js', new Date());gtag('config', 'G-63DZLREM66');gtag('config', 'AW-590042240');</script>
    title Criação de web sites profissionais para seu negócio
  body.preload#home(style="visibility: hidden;")
    //- include components/langToggle/langToggle
    include components/header/header
    include components/home/home
    include components/goal/goal
    include components/creation/creation
    include components/portfolio/portfolio
    include components/promotion/promotion
    include components/offers/offers
    include components/discount/discount
    include components/ask/ask
    include components/instaFeed/instaFeed
    include components/footer/footer
    include components/whatsappIcon/whatsappIcon