doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title e-Formaliza
  body#home(style="visibility: hidden;")
    include components/header/header
    include components/home/home
    include components/goal/goal
    include components/creation/creation
    include components/promotion/promotion
    include components/offers/offers
    include components/discount/discount
    include components/ask/ask
    include components/footer/footer
    //- include components/product/product
    //- include components/services/services 
    //- include components/obras/obras 
    //- include components/opinions/opinions 
    //- include components/goal/goal
   
    