doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(name="description" content="Criação de web sites profissionais" )
    meta(name="keywords" content="criacão, sites, web, page, pagina, emprendedor, empresa, advogados, guarulhos, osasco, salvador, goiania, joinville, curitiba, fortaleza, campinas, sp, porto alegre, df, brasilia, curitiba, bh, criacao")
    script(defer src="https://polyfill.io/v2/polyfill.min.js?features=IntersectionObserver")
    title Nosso Blog
  body.preload#home(style="visibility: hidden;")
    include components/blogHeader/blogHeader
    //- include components/blogSection/blogSection
    include components/footer/footer