.offers
  .container
    p.offers__title.title Aprovecha las promociones de 2022
    .offers__box
      ul.offers__list
        li.offers__item.offer
          button.offer__btn(type="button") Tu amigo vale el descuento
          .offer__description 
            p Tu amigo contratando con nosotros el sitio web ¡Ambos obtienen un 10% de descuento en todos nuestros servicios!
        li.offers__item.offer
          button.offer__btn(type="button") Mantenimiento Gratuito
          .offer__description 
            p ¡Contrata nuestros servicios de desarrollo hasta el 31 de mayo y obtén 6 meses de mantenimiento gratis!
        li.offers__item.offer
          button.offer__btn(type="button") Registro en Google Business
          .offer__description 
            p Contratando hasta el 31 de mayo, ¡El registro de tu empresa en Google Business se realizará de forma gratuita!
      .offers__image
        img(src=require("../../../images/money.png"), alt="promotion")


