.offers
  .container
    p(data-aos="fade-in" data-aos-duration="1800").offers__title.title Take advantage of our 2022 special offers
    .offers__box
      ul(data-aos="fade-right" data-aos-duration="1800").offers__list
        li.offers__item.offer
          button.offer__btn(type="button") Bring a friend, get a discount
          .offer__description 
            p Your friend ordered website development, you both get 10% discount on all our services!
        li.offers__item.offer
          button.offer__btn(type="button") Free Maintenance
          .offer__description 
            p Order our development services until December 31th and get 6 months of free maintenance!
        li.offers__item.offer
          button.offer__btn(type="button") Google Business subscribe
          .offer__description 
            p Order our services until the 31th of December, your company's registration on Google Business will be realized for free!
      div(data-aos="fade-left" data-aos-duration="1800" data-aos-delay="600").offers__image
        img.lazy(src=require("../../../images/placeholder.png"), data-src=require("../../../images/money.png"), alt="promotion")


