.offers
  .container
    p.offers__title.title Aproveite as promoções de 2022
    .offers__box
      ul.offers__list
        li.offers__item.offer
          button.offer__btn(type="button") Seu Amigo Vale Desconto
          .offer__description 
            p Seu amigo contratando conosco website, vocês dois ganham 10% de desconto em todos os nossos serviços !
        li.offers__item.offer
          button.offer__btn(type="button") Sua Manutenção Gratis
          .offer__description 
            p Contrate nossos serviços de desenvolvimento até o dia 31 de maio e ganhe 06 meses de manutenção gratis !
        li.offers__item.offer
          button.offer__btn(type="button") Cadastro Google
          .offer__description 
            p Fechando sua contratação de até o dia 31 de maio, o cadastro de sua empresa no Google será realizado gratuitamente !
      .offers__image
        img.lazy(src=require("../../../images/placeholder.png"), data-src=require("../../../images/money.png"), alt="promotion")


